<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809098418-a4vk6mfrttfrnke48hed7t6fta9i62e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809098418-a4vk6mfrttfrnke48hed7t6fta9i62e5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>809098418-t4sb64ckkj2q8b2vrnjg9rrfnl4c6n67.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKeFaJZsRMlm-1cnyFGbLwY2xX50HY940</string>
	<key>GCM_SENDER_ID</key>
	<string>809098418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.worki</string>
	<key>PROJECT_ID</key>
	<string>worki-715c8</string>
	<key>STORAGE_BUCKET</key>
	<string>worki-715c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809098418:ios:42d378a2e24649c1adbdab</string>
</dict>
</plist>