/api/node_modules
/api/package-lock.json
frontend/node_modules
frontend/package-lock.json
frontend/android/app/build/
frontend/android/.gradle/
frontend/ios/build/
frontend/ios/Podfile.lock
frontend/ios/Pods
frontend/ios/Pods
frontend/node_modules
frontend/android/.idea
frontend/.idea
frontend/vendor
.idea